* {
    /* outline: 1pt black dotted; */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.wrapper {
    font-family: "Arial";
    width: 970px;
}

.content {
    background-color: #265175;
    text-align: center;
    padding-top: 10px;
}

.content > img {
    display: inline-block;
    width: 300px;
}

.content p {
    color: white;
}

.content a {
    color: white;
}

.header {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-right: 20px
}

.header > p {
    margin-right: 40px;
}

.header > p > a {
    color: #fed343;
}

#seperator {
    color: black;
    margin: 0px 5px;
}

#search-options {
    display: inline-block;
    margin: 5px 0px 5px 320px;
    padding: 12px 40px;
    vertical-align: top;
    box-shadow: 2px 2px 1px #1f1f1f;
    background-color: #444444;
    border-radius: 10px;

}

#search-options > input {
    height: 30px;
    text-align: center;
    border-style: inset;
    border-width: 2px;
    color: #aaaaaa;
}

#search-options > button {
    height: 30px;
    width: 30px;
    background-color: #265175;
    color: white;
    border-style: outset;
    border-width: 2px;
}

.content > input {
    width: 300px;
    height: 30px;
    margin-left: auto;
}

.content > .main-navigation {
    background-image: linear-gradient(180deg,#31699b,  #4a80ab, #31699b);
    text-align: center;
    margin: 15px auto;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #1f1f1f;
    font-size: 14pt;
}

.content > .main-navigation > li {
    margin: 0px 20px;
    display: inline-block;
}   

.main-navigation a {
    text-decoration: none;
}

.sub-navigation {
    display: inline-block;
    vertical-align: top;
    list-style-position: inside;
    margin: 20px;
}

.sub-navigation > li {
    margin: 5px;
    list-style: none;
}

.sub-navigation > li:before {
    content: "\00BB";
    color: yellow;
    margin-right: 8px;
    font-size: 9pt;
}

#history {
    display: inline-block;
    width: 570px;
}

#history > p {
    color: white;
    font-size: 10pt;
    margin-bottom: 20px;
}

#history > ul {
    color: #fed343;
    font-style: italic;
    list-style: none;
    margin: 10px;
}

#history > ul > li{
    margin: 5px;
}

.highlight {
    background-color: #ffffff;
    display: inline-block;
    padding-left: 50px;
}

.column {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    border-top: 3pt #75a8d3 solid;
    width: 405px;
    padding-left: 20px;
}

.column > ul {
    display: inline-block;
    width: 280px;
    margin-left: 50px;
    text-align: center;
}

.column > h3 {
    margin: 5px;
    width: 325px;
    text-align: center;
}

.column > p {
    width: 325px;
    margin: 5px;
    text-align: center;
}

.column > p > a {
    font-size: 9pt;
    text-decoration: none;
    color: #75a8d3;
}

.column > ul > li {
    margin: 5px;
    list-style-type: square;
}

.column > ul > li > a {
    color: #75a8d3;
    text-decoration: none;
}

.footer {
    background-color: #28557b;
    background-image: linear-gradient(180deg,#265175,  #3775aa);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    color: #89bae3;
}

.footer > a {
    color: #89bae3;
    margin: 25px;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
}

.footer > p {
    margin-top: 20px;
    font-size: 9pt;
}