/* altered style.css */

   #wrapper{
    width: 950px;
    background-color: silver;
    padding: 20px;
    display: inline-block;
   }

   #header{
    min-height: 150px;
    background-color: green;
    margin-bottom: 20px;
   }

   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
   }

   #main_content{
    min-height: 400px;
    width: 710px;
    padding: 15px;
    background-color: red;
    display: inline-block;
    box-sizing: border-box; 
   }

   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-right: 10px;
   }
   
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 30px;
   }
