* {
    outline: 1px black dotted;
    margin: 0;
    padding: 0;
    border: 0;
    /* outline: 0; */
}
.wrapper {
    width: 970px;
    background-color: lightgray;
    margin: 0 auto;
}

.wrapper h1 {
    display: inline-block;
    margin: 10px;
}

.wrapper #subheading {
    margin: 10px 10px 10px 420px;
    display: inline-block;

}   
.content {
    background-color: darkgray;
    padding: 20px;
}
.main_image {
    width: 400px;
    display: inline-block;
}

.about_block {
    margin-left: 20px;
    padding: 8px;
    display: inline-block;
    vertical-align: top;
    background-color: teal;
    width: 54%;
    height: 262px;
    box-sizing: border-box;
}


.about_block h2, .about_block p {
    margin-bottom: 10px;
}

.about_block a {
    margin-top: 30px;
} 

.portfolio-column {
    display: inline-block;
    width: 294px;
    margin-top: 20px;
    vertical-align: top;
}

.portfolio-column .portfolio-image {
    width: 294px;
}

.portfolio-column #techstack_logo {
    width: 55px;
}   

.callout {
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    display: block;
    width: 75px;
    margin: 10px auto;
    color: white;
    border: 2pt darkgreen solid;
    box-shadow: 5px 8px 10px rgb(82, 82, 82);
}

#column-spacer {
    margin-left: 20px;
    margin-right: 20px;
}

.social_logo {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.wrapper p {
    text-align: center;
    margin-top: 5px;
}

#social {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}