* {
    /* outline: 1px black dotted; */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.wrapper {
    width: 970px;
    background-color: rgb(245,245,245);
    margin: 0 auto;
    font-family: "Arial"
}

.wrapper h1 {
    display: inline-block;
    margin: 10px 10px 10px 20px;
    font-family: "Comic Sans MS"
}

.wrapper #subheading {
    margin: 10px 10px 10px 335px;
    display: inline-block;

}   
.content {
    background-color: rgb(111, 89, 100);
    padding: 20px;
}
.main_image {
    width: 400px;
    display: inline-block;
    border: 4pt lightgray solid;
    box-sizing: border-box;
}

.about_block {
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(231, 221, 230);
    width: 54%;
    height: 266px;
    box-sizing: border-box;
}

.about_block h2 {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    background-color: darkgray; /* compatibility for browsers with no gradient*/
    background-image: linear-gradient(rgb(189, 188, 194), rgb(135, 133, 147), rgb(189, 188, 194));
}

.about_block p {
    margin: 10px;
}
    
.about_block a {
    margin: 30px 0px 0px 10px;
} 

.portfolio-column {
    display: inline-block;
    width: 294px;
    height: 600px;
    margin-top: 20px;
    vertical-align: top;
    background-color: rgb(231, 221, 230); /* compatibility for browsers with no gradient*/
    background-image: linear-gradient(to right, white, rgb(231, 221, 230));
}

.portfolio-column h2 {
    color: white;
    padding: 10px;
    background-color: darkgray; /* compatibility for browsers with no gradient*/
    background-image: linear-gradient(rgb(189, 188, 194), rgb(135, 133, 147), rgb(189, 188, 194));
}

.portfolio-column .portfolio-image {
    width: 294px;
}

.portfolio-column p {
    font-size: 11pt;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.portfolio-column h3 {
    color: white;
    padding: 10px;
    background-color: darkgray; /* compatibility for browsers with no gradient*/
    background-image: linear-gradient(rgb(189, 188, 194), rgb(135, 133, 147), rgb(189, 188, 194));
}

.portfolio-column #techstack_logo {
    padding: 10px 7px 0px 10px;
    width: 38px;
}   

.callout {
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    display: block;
    width: 75px;
    margin: 10px auto;
    color: white;
    border: 2pt darkgreen solid;
    box-shadow: 5px 8px 10px rgb(82, 82, 82);
}

#column-spacer {
    margin-left: 19px;
    margin-right: 19px;
}

.social_logo {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#contact {
    padding: 5px;
    text-align: center;
}

#social {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}