* {
    outline: 1px black dotted;
    margin: 0;
    padding: 0;
    border: 0;
    /* outline: 0; */
}
.wrapper {
    width: 970px;
    background-color: lightgray;
    margin: 0 auto;
}

.wrapper h1 {
    display: inline-block;
    margin: 10px;
}

.wrapper #subheading {
    margin: 10px 10px 10px 420px;
    display: inline-block;

}   
.content {
    background-color: darkgray;
    padding: 20px;
}
.main_image {
    width: 400px;
    display: inline-block;
}

.about_block {
    margin-left: 20px;
    padding: 8px;
    display: inline-block;
    vertical-align: top;
    background-color: teal;
    width: 54%;
    height: 262px;
    box-sizing: border-box;
}

.about_block h2, .about_block p {
    margin-bottom: 10px;
}

.about_block a {
    margin-top: 30px;
} 

.portfolio-column {
    display: inline-block;
    width: 294px;
    margin-top: 20px;
}

.portfolio-column .portfolio-image {
    width: 294px;
}

#column-spacer {
    margin-left: 20px;
    margin-right: 20px;
}

